[run]
branch = True
source=
    voeventparse
omit=
    src/voeventparse/_version.py

[paths]
source =
   src/voeventparse
   .tox/*/lib/python*/site-packages/voeventparse
   .tox/pypy/site-packages/voeventparse