language: python
matrix:
  include:
    - python: "2.7"
      env: TOXENV=py27
    - python: "3.4"
      env: TOXENV=py34

install: "pip install tox"
script: tox

notifications:
  email:
    on_success: never
    on_failure: always

sudo: false